:root {
    --artsize: 200px;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(235, 233, 235);
}

body {
    background-color: rgb(34, 0, 19);
    text-align: left;
    margin: 8px;
}

header {
    padding-top: auto;
    text-align: center;
    font-size: inherit;
}

h2 {
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav {
    display: inherit;
    justify-content: inherit;
}

nav>p {
    border-bottom: 1px solid rgb(147, 147, 147);
}

a {
    color: #69bbff;
    text-decoration: underline;
}

a:hover {
    color: #94c0ce;
}

nav>p>a {
    color: white;
    font-weight: bold;
}

nav>p>a {
    text-decoration: none;
}


.main {
    margin: auto;
}

.box {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wrapper {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2vw;
    grid-auto-rows: minmax(2vh, auto);
    margin: 0 auto;
}

.album-art-wrapper {
    text-align: center;
    width: 40vw;
}

.tooltip {
    background-color: inherit;
    color: inherit;
    padding: inherit;
    display: block;
    position: inherit;
    transform: inherit;
    width: inherit;
    font-size: inherit;

    max-width: 35vw;
    text-align: center;
}

.albumart {
    margin: 0 auto;
    width: 40vw;
}

.albumart:hover+#tooltip {
    display: inherit;
}

h3 {
    font-size: 2em;
}

hr {
    margin: 2em;
    color: gray;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        margin: 10px;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    nav>p {
        border-bottom: 0px;
    }

    h2 {
        font-size: 4em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin: 20px;
    }

    /* move nav to the side*/
    nav {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: left;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 15vw;
        padding-left: 1vw;
        padding-top: 2vw;
        background-color: black;
    }

    .main {
        margin-left: 24vw;
        margin-right: 16vw;
    }

    h2 {
        font-size: 5em;
    }

    .album-art-wrapper {
        width: 22vw;
    }

    .albumart {
        width: 22vw;
    }

    .tooltip {
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        font-weight: bold;
        padding: 0px;
        display: none;
        position: absolute;
        transform: translate(0, calc(-0.98 * 22vw));
        width: 22vw;
        font-size: large;
    }

    .wrapper {
        grid-template-columns: repeat(3, 2fr);
        gap: 2vw;
        grid-auto-rows: minmax(2vh, auto);
        margin: 0 auto;
    }

    .albumart:hover+.tooltip {
        display: block;
    }

    .box {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}